body{
   background-image:-moz-linear-gradient(blue,white ); 
}
.titulo{
   background-color: white;color: black;
   border:20px;padding: 5px;width: 600px;
  margin-left: 200px;
}
h1{text-align: center;font-size: 50px;}
#sub{
   background-color: white;color: black;
   border:20px;padding: 5px;width: 600px;
  margin-left: 200px;

}
p{font-size: 15px;text-align: center;}

.video{
   display: flexbox;
   justify-content: right
}
iframe{
   border: none;max-width: 100%;
}
in-top: 10px;
.caixas{
   background-color: white;color: black;
   padding: 5px;border: 5px;
   -moz-box-flex: ;
   
   }
   
  
   







}



